.round-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 30px;
  @media screen and (max-device-width: 1150px) {
    width: 90%;
  }
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50vh;
  align-items: center;
  .answer-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    &-item {
      width: 30%;
      height: 50px;
      margin: 0 30px;
      box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
      background: #d2d2d8;
      justify-content: center;
      display: flex;
      align-items: center;
      border-radius: 46%;
    }
  }
}
.answer-item__button {
  width: 100%;
  height: 50px;
  background: #e6e6ef;
  border-radius: 46%;
  &:hover {
    cursor: pointer;
    background: #d2d2d8;
  }
}
.finish-game {
  display: flex;
  width: 80%;
  height: calc(100vh - 20%);
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  background: #f5f5f7;
  border-radius: 14px;
  overflow-y: scroll;
}
.answer-img {
  width: 10px;
  height: 10px;
}
.score-table {
  max-width: 400px;
  width: 100%;
}
.close,
.start-again {
  position: absolute;
  right: 5%;
}
.close {
  top: 5%;
}
.start-again {
  top: 10%;
}
.answer-item__button {
  width: 100%;
  border: none;
  outline: none;
}
.right-answer {
  background-color: #96eda7;
}
.false-answer {
  background-color: #ed9696;
}
