.round-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 30px;
  @media screen and (max-device-width: 1150px) {
    width: 90%;
  }
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50vh;
  align-items: center;
  .answer-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    &-item {
      width: 30%;
      height: 50px;
      margin: 0 30px;
      box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
      background: #d2d2d8;
      justify-content: center;
      display: flex;
      align-items: center;
      border-radius: 46%;
      &:nth-child(1)::before {
        content: '1';
      }
    }
  }
}
.answer-item__button {
  width: 100%;
  height: auto;
  color: #0c0b0b;
  background: transparent;
  outline: none;
  border: 2px solid #0c0b0b !important;
  border-radius: 8px;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    background: black;
    color: white;
  }
  @media screen and (max-device-width: 800px) {
    font-size: 50%;
    padding: 10px 8px;
  }
}
.finish-game {
  display: flex;
  width: 80%;
  height: calc(100vh - 20%);
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  background: #f5f5f7;
  border-radius: 14px;
  overflow-y: scroll;
  @media screen and (max-device-width: 1000px) {
    height: 100vh;
    width: 90%;
    top: 0;
  }
}
.answer-img {
  width: 10px;
  height: 10px;
}
.score-table {
  max-width: 400px;
  width: 100%;
  border-collapse: collapse;
  padding: 10px 20px;
}
tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f7;
}
.next-button,
.close,
.start-again {
  color: white;
  background: #0c0b0b;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.5s;
  &:hover {
    background: transparent;
    color: black !important;
  }
}
.close {
  top: 5%;
  right: 5%;
  color: white !important;
  @media screen and (max-device-width: 1000px) {
    top: 1.5%;
    right: 26%;
    padding: 5px 5px;
  }
}
.start-again {
  top: 14%;
  right: 5%;
  @media screen and (max-device-width: 1000px) {
    top: 1.5%;
    right: 53%;
    padding: 5px 5px;
  }
}
.close,
.start-again {
  position: absolute;
  border: 2px solid #0c0b0b;
}
.right-answer {
  background-color: #96eda7;
}
.false-answer {
  background-color: #ed9696;
}
.sound-picture {
  width: 50px;
}
