.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;    

    &__control {
        display: flex;
        align-items: center;
        background: #fff;
        border: 2px solid #0C0B0B;
        border-radius: 100px;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        padding: 10px;
        line-height: 0;
        cursor: pointer;

        &:disabled {
            color: #b7b7b7;
            border: 2px solid #b7b7b7;
        }
    }

    &__page {        
        font-family: 'Roboto';
        font-size: 30px;
        text-align: center;
        width: 50px;
        background: #F5F5F7;
        border: 1px solid #c3c3c3;
        border-radius: 7px;
        margin: 0 10px;

        .learned-page & {
            background: #53d254;
        }
    }
}