$shadow-grey: 1px 3px 4px rgb(0 0 0 / 10%);

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #F5F5F7;
  box-shadow: $shadow-grey inset;
  border-radius: 14px 14px 0 0;
  padding: 0 10px;
  flex: 0 0 auto;

  .footer__logo {
    width: 30px;
    height: 30px;
  }
  .footer__logo-rss {
    height: 35px;
  }
  .footer__title {
    font-family: 'Baloo Bhai';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
  }
  .footer__info a{
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 710px) {
      .footer__title span:nth-last-child(1) {
        font-size: 0px;
        transition: all 0.5s ease;
        ;
      }
    }
}


