$color-black: #0C0B0B;
$color-white: #FFFFFF;
$bg-grey: #F5F5F7;
$bg-modal: rgba(41, 41, 41, 0.2);
$shadow-grey: 1px 3px 4px rgb(0 0 0 / 10%);
$shadow: 1px 3px 4px rgb(0 0 0 / 20%);
$glow-grey: 0 0 34px white, 0 0 25px #9595f0, 0 0 5px #727589, 0 0 29px white;
$glow-red: 0 8px 6px -1px rgb(255 0 0 / 25%), 0 4px 4px -2px rgb(255 0 0 / 60%);
$glow-green: 0 8px 6px -1px rgb(0 255 60 / 25%), 0 4px 4px -2px rgb(0 255 60 / 60%);
$glow-text-red: 0 0 3px red, 0 0 2px red, 0 0 10px red, 0 0 8px red;