@font-face {
  font-family: 'Balsamiq';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/BalsamiqSans-Regular.ttf);
}

@font-face {
  font-family: 'Balsamiq';
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/fonts/BalsamiqSans-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}