@import url(../../../node_modules/normalize.css/normalize.css);
@import './fonts.scss';
@import './const.scss';

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #0C0B0B;
}

.main {
  flex: 1 1 auto;
}

.wrap {
  margin: 0 auto;
  width: 90%;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;  
}